---
import Pop from "../../components/pop/Pop.astro";
---

<Pop>
  <ul>
    <li>・個人番号カード<small>（マイナンバーカード）</small></li>
    <li>・運転免許証</li>
    <li>・運転経歴証明書</li>
    <li>・旅券<small>（パスポート）</small></li>
    <li>・身体障害者手帳</li>
    <li>・精神障害者保健福祉手帳</li>
    <li>・療育手帳<small>（愛の手帳）</small></li>
    <li>・在留カード</li>
    <li>・特別永住者証明書など</li>
  </ul>
  <p>詳しくは東京都福祉局のサイトへ</p>
  <a
    href="https://www.fukushi.metro.tokyo.lg.jp/shougai/nichijo/seishintetyou/seishintetyou"
    target="_blank"
    rel="noopener"
    >https://www.fukushi.metro.tokyo.lg.jp/shougai/nichijo/seishintetyou/seishintetyou</a
  >
</Pop>
