---
import Pop from "../../components/pop/Pop.astro";
---

<Pop>
  <p class="pop-text">
    精神障害を支給事由とした障害年金もしくは特別障害給付金を現に受給していることを証する書類（年金証書等）の写し。
  </p>
  <p>※同意書への署名が必要です</p>
  <a
    href="https://www.fukushi.metro.tokyo.lg.jp/documents/d/fukushi/2025-04-22-163619-772"
    target="_blank"
    rel="noopener"
    class="pop-text"
    >https://www.fukushi.metro.tokyo.lg.jp/documents/d/fukushi/2025-04-22-163619-772</a
  >
  <p>詳しくは東京都福祉局のサイトへ</p>
  <a
    href="https://www.fukushi.metro.tokyo.lg.jp/shougai/nichijo/seishintetyou/seishintetyou"
    target="_blank"
    rel="noopener"
    >https://www.fukushi.metro.tokyo.lg.jp/shougai/nichijo/seishintetyou/seishintetyou</a
  >
</Pop>
