---
import Pop from "../../components/pop/Pop.astro";
---

<Pop>
  <p class="pop-text">
    縦4センチメートル×横3センチメートル、脱帽・上半身、申請日から1年以内に撮影したもの。写真の裏面には、氏名と生年月日を必ず記入してください。
  </p>
  <p>詳しくは東京都福祉局のサイトへ</p>
  <a
    href="https://www.fukushi.metro.tokyo.lg.jp/shougai/nichijo/seishintetyou/seishintetyou"
    target="_blank"
    rel="noopener"
    >https://www.fukushi.metro.tokyo.lg.jp/shougai/nichijo/seishintetyou/seishintetyou</a
  >
</Pop>
